@import "~bootstrap/scss/bootstrap";

#hobby {
  max-width: 120px;
}

.table {
  max-width: 60%;
}

.app {
  margin: 50px 20px;
}

body {
  text-transform: capitalize;
}

.user-hobby {
  .hobby-label {
    margin-bottom: 20px 0;
  }

  &__dropdown {
    margin-bottom: 20px;
  }
}
